@import '../Header/Header';
.article{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  //margin: 0 20px 20px $border-margin;
  @include adaptive_margin(0,1rem,1rem,2rem);
  flex-grow: 1;
}

