

#Comment{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#commentTitle{
  font-weight: bold;
  font-size: calc(1.325rem + .9vw);

}

.Comment-divider{
    border-bottom: 1px solid #808080;
    margin: 1rem 0;
}
.comment-author{
  font-weight: bold;
}
.comment-time{
  color: rgb(153, 153, 153);
  margin-bottom: 0.7em;
}
