
@mixin adaptive_margin($top:1rem,$right:1rem,$bottom:1rem,$left:1rem) {
  @media screen and (max-width: 700px) { // 0-700px
    margin: $top 0.5*$right $bottom 0.5*$left;
  }

  @media screen and (min-width: 700px) { // 700 - 1100 px
    margin: $top $right $bottom $left;
  }

  @media screen and (min-width: 700px) { // > 1100 px
    margin: $top 1.2*$right $bottom 1.2*$left;
  }

}



.header {
  display: flex;
  flex-direction: column;


}

.headerContent  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.title {
  @include adaptive_margin($left:2rem);
  font-weight: bold;
  font-size: 1.3rem;

  a{
    color: inherit;
    text-decoration: none;
  }

}

.login {
  @include adaptive_margin($right:2rem);
  font-size: 1.1rem;
}

.horizontalLine {
  border-bottom: grey 1px solid;
  @include adaptive_margin(0,2rem,1rem,2rem);
}



